* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body > header {
    background-color: #242930;
    padding: 16px 0;
    color: orange;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: -1000px;
    margin-right: 1010px;
}

header li a {
    color: rgb(202, 202, 202);
    text-decoration: none;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img {
    /* width: 180px; */
    width: 90%;
}

.articles article {
    width: 30%;
}

section {
    padding: 16px 0;
}

section h2,
.articles article {
    margin-bottom: 16px;
}

.articles article a:hover {
    text-decoration: underline;
} 

.articles article p,
.articles article a {
    font-family: Arial, Helvetica, sans-serif;
}

.articles article h2 {
    font-size: 24px;
}

section h2 {
    font-size: 32px;
}

#catalogo {
    background-color: #2f3640;
}

section h2 {
    font-size: 32px;
}